<section class="artistpage">
    <div class="search">
        <h1>Artists Directory</h1>

        <button class="btn" onclick="window.location.href='#!/apply'">
            Apply
        </button>

        <label class="formgroup">Search: </label>

        <!-- The query attaches itself to the list of artists to allow us to search -->
        <input placeholder="Search for artists" autofocus ng-model="query">

        <!-- Allows the user to control the order of the artists by name or reknown -->
        <label class="formgroup">By:
            <select ng-model="artistOrder">
                <option value="name">Name</option>
                <option value="reknown">Reknown</option>
            </select>
        </label>

        <label class="formgroup">
            <input type="radio" ng-model="direction" name="direction" checked>
            Ascending
        </label>

        <label class="formgroup">
            <input type="radio" ng-model="direction" name="direction" value="reverse">
            Decending
        </label>
    </div>

    <ul class="artistlist">
        <!-- A for loop that itterates through all of the artists -->
        <!-- The query is attached to the inputs query -->
        <li class="artist cf" ng-animate="animate" ng-repeat="item in artists | filter: query | orderBy: artistOrder:direction">
            <!-- Hyperlink to the details page -->
            <a href="#!/details/{{ artists.indexOf(item) }}">
                <img ng-src="images/{{ item.shortname }}_tn.jpg" alt="Photo Of {{ item.name }}">

            <div class="info">
                <!-- This filters into uppercase -->
                <h2>{{ item.name | uppercase}}</h2>

                <h3>{{ item.reknown }}</h3>
            </div>
            </a>
        </li>
    </ul>
</section>
